<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meatjellyburgur.musicpipe.repository.NeedEquipmentMapper">

    <select id="findAllEquipmentIdByBoardId" resultType="int">
        select equipment_id
        from need_equipment
        where board_id =#{boardId}
    </select>


    <insert id="save">
        insert into need_equipment
        (board_id,equipment_id)
        values (#{boardId},#{equipmentId})
    </insert>
</mapper>

<!--&lt;!&ndash;    //        insert  into  user&ndash;&gt;-->
<!--&lt;!&ndash;    //                (password, nickname, age, email, sex)&ndash;&gt;-->
<!--&lt;!&ndash;    //        values ("111","aaa",13,"aaa@naver.ocm","Female");&ndash;&gt;-->

<!--&lt;!&ndash;    <insert id="save">&ndash;&gt;-->
<!--&lt;!&ndash;        INSERT INTO user&ndash;&gt;-->
<!--&lt;!&ndash;        (password, nickname, age, email, sex)&ndash;&gt;-->
<!--&lt;!&ndash;        VALUES&ndash;&gt;-->
<!--&lt;!&ndash;        (#{password},#{nickname},#{age}&ndash;&gt;-->
<!--&lt;!&ndash;        ,#{email},#{sex})&ndash;&gt;-->
<!--&lt;!&ndash;    </insert>&ndash;&gt;-->



<!--</mapper>-->