<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meatjellyburgur.musicpipe.repository.PersonalAbilityMapper">
    <insert id="save">
        INSERT INTO personal_ability
            (user_id, equipment_id, ability)
        VALUES
            (#{userId}, #{equipmentId}, #{ability})
    </insert>

    <select id="findAll" resultType="personalability">
        select
            user_id, equipment_id, ability
        from
            personal_ability
    </select>

    <select id="findOne" resultType="personalability">
        select
        user_id, equipment_id, ability
        from personal_ability
        WHERE user_id=#{userId}
    </select>

    <select id="findUserIdByEquipmentId" resultType="Integer">
        SELECT
            user_id
        FROM personal_ability
        WHERE equipment_id = #{equipmentId}
    </select>

    <select id="isDuplicate" resultType="boolean">
        select count(*)
        from personal_ability
        where user_id = #{userId} AND equipment_id = #{equipmentId}
    </select>

    <delete id="remove">
        DELETE FROM personal_ability
        WHERE user_id = #{userId} AND equipment_id = #{equipmentId}
    </delete>

</mapper>