<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meatjellyburgur.musicpipe.repository.TeamMemberInfoMapper">


<!--    //        insert  into  user-->
<!--    //                (password, nickname, age, email, sex)-->
<!--    //        values ("111","aaa",13,"aaa@naver.ocm","Female");-->

    <select id="findAllTeamMember" resultType="teammemberinfo">
        select *
        from team_member_info
        where team_id=#{teamId}
    </select>



    <insert id="saveTeamMember">
        insert into team_member_info
        (team_id,role,equipment_id,user_id)
        values (#{teamId},#{role},#{equipmentId},#{userId})
    </insert>



</mapper>